<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Database</title>
    <style>
      .error {
         content:"*";
         color: red;
        }
    </style>
</head>
<body>
  <h1> Add Department </h1>
    <form action="addrecord_dp/" method="post">
        {% csrf_token %}
        Department Name: <br>
        <input name="dp_name">
        <div class="error"> Required: * </div>
        <br><br>

        Courses Number: <br>
        <input name="dp_course_num">
        <div class="error"> Required: * </div>
        <br><br>

        Number of Teacher: <br>
        <input name="dp_teacher_num">
        <div class="error"> Required: * </div>
        <br><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>