<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Database</title>
</head>
<body>
  <h1> Add Department </h1>
    <form action="addrecord_dp/" method="post">
        {% csrf_token %}
        Department Name: <br>
        <input name="dp_name">
        <br><br>

        Courses Number: <br>
        <input name="dp_course_num">
        <br><br>

        Number of Teacher: <br>
        <input name="dp_teacher_num">
        <br><br>

        <input type="submit" value="Submit">
    </form>

</body>
</html>