<!DOCTYPE html>
<html lang="en">
<head>
  <style>

  .design{
    background-color:lightblue;
    display:grid;
    }

  .tab{
  background-color:grey;
  display:grid;
  }



  </style>
    <meta charset="UTF-8">
    <title>School</title>
</head>
<body>
<h1 style="text-align:center; padding:2rem; background-color:grey; ">School Department</h1>
  <div class="design">

    <div class="tab">
       <pre id="t1">
        Id                                     Department_Name                                     No of courses                   No of teacher
      </pre>
<!--        <th>ID</th> <th class="tab1">FirstName</th> <th>LastName</th> <th>Roll Number</th> <th>Department Name</th>-->
<!--        <th>Courses Name</th> <th>Semester Year</th>-->
   </div>
      <table border="1">
        {% for x in school %}
          <tr>
            <td> <a href="update_dp/{{ x.id }}">{{ x.id }}</a></td>
<!--            <td>{{ x.id }}</td>-->
            <td>{{ x.Department_Name }}</td>
            <td>{{ x.No_of_courses }}</td>
            <td>{{ x.Number_of_teacher }}</td>
            <td> <a href="delete_dp/{{ x.id }}">Delete</a></td>
          </tr>
        {% endfor %}
      </table>
      <p>
          <a href="add_dp/">Add Department</a>
      </p>
    </div>

</body>
</html>