<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
  <h1>Add Student</h1>
<!--  action attribute tells us where to send the data.-->
  <form action="addrecord/" method="post">
    {% csrf_token %}
      First Name: <br>
      <input name="first">
      <br><br>
     Last Name: <br>
      <input name="last">
      <br><br>
     Roll No: <br>
      <input name="roll">
      <br><br>
       DOB(text) : <br>
      <input name="dob">
      <br><br>
      Department Name: <br>
      <input name="dp">
      <br><br>
      Courses Name: <br>
      <input name="course">
      <br><br>
      Semester Number: <br>
      <input name="semester_num">
      <br><br>
      <input type="submit" value="Submit">
  </form>

</body>
</html>