<!DOCTYPE html>
<html lang="en">
<head>
  <style>

  .design{
    background-color:lightblue;
    display:grid;

    }
  .heading {
  text-align:center;
  margin:2rem;
  background-color:powderblue;
  display:flex;
  }

  .tab {
  background-color:grey;
  }

  </style>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h1 style="text-align:center; background-color:grey; padding:1rem;">Student List</h1>
  <div class="design">
    <div class="tab">
      <pre id="t1"> ID        FirstName                       LastName       Dob     Roll         Department_Name                  Courses_Name                   Semester_Year
      </pre>
<!--        <th>ID</th> <th class="tab1">FirstName</th> <th>LastName</th> <th>Roll Number</th> <th>Department Name</th>-->
<!--        <th>Courses Name</th> <th>Semester Year</th>-->

    </div>
      <table border="1">
        {% for x in student %}
          <tr>
            <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
<!--            <td>{{ x.id }}</td>-->
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
            <td> {{ x.Dob }}</td>
            <td>{{ x.Roll_Number }}</td>
            <td>{{ x.Department_Name }}</td>
            <td>{{ x.Courses_Name }}</td>
            <td>{{ x.Semester_Number }}</td>
            <td> <a href="delete/{{ x.id }}">delete</a> </td>
          </tr>
        {% endfor %}
      </table>
    <p>
      <a href="add/">Add Student</a>
    </p>
    </div>
<h5> Created by - Anjan Rana Magar (gopalanjan)</h5>

</body>
</html>