<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
    <style>
        .error {
        content: "*";
        color:red;
        }
    </style>
</head>
<body>
  <h1>Update Student</h1>
<!--  action attribute tells us where to send the data.-->
  <form action="updaterecord/{{ student.id }}" method="post">
    {% csrf_token %}
      First Name: <br>
      <input name="first" value="{{ student.firstname }}">
      <div class="error"> Required: * </div>
      <br><br>
     Last Name: <br>
      <input name="last" value="{{ student.lastname }}">
      <br><br>
      DOB: <br>
      <input name="dob" value="{{ student.Dob }}">
      <div class="error"> Required: * </div>
      <br><br>
     Roll No: <br>
      <input name="roll" value="{{ student.Roll_Number }}">
      <br><br>
      Department Name: <br>
      <input name="dp" value="{{ student.Department_Name }}">
      <br><br>
      Courses Name: <br>
      <input name="course" value="{{ student.Courses_Name }}">
      <br><br>
      Semester Number: <br>
      <input name="semester_num" value="{{ student.Semester_Number }}">
      <div class="error"> Required: * </div>
      <br><br>
      <input type="submit" value="Submit">
  </form>

</body>
</html>